<div class="container">
    <div class="botonera">
        <button class="btn btn-info" onclick='isActiveFunction({{isActive}})'>Agregar un producto</button>
    </div>
     {{#each products}}
            <table>
                <thead class="t-title text-center">
                    <tr>
                        <th>#{{id}}</th>
                        <th>{{title}}</th>
                    </tr>
                </thead>
                <tbody class="t-body text-center">
                        <th>${{price}}</th>
                        <th><img src="{{thumbnail}}" style="width: 150px; height: 200px;" ></th>
                </tbody>
            {{else}}
            <div>No hay productos para mostrar</div> 
        {{/each}}
        <script>
            function isActiveFunction(param){
                param = !param;
                console.log(param)
                window.location.href = 'http://localhost:8080/productos';
            }
        </script>
</div>